---
http_interactions:
- request:
    method: post
    uri: https://www.dnd5eapi.co/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query IntrospectionQuery {\n  __schema {\n    queryType {\n      name\n    }\n    mutationType
        {\n      name\n    }\n    subscriptionType {\n      name\n    }\n    types
        {\n      ...FullType\n    }\n    directives {\n      name\n      description\n      locations\n      args
        {\n        ...InputValue\n      }\n    }\n  }\n}\n\nfragment FullType on __Type
        {\n  kind\n  name\n  description\n  fields(includeDeprecated: true) {\n    name\n    description\n    args
    [...]
[...]
- request:
    method: post
    uri: https://www.dnd5eapi.co/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_72320($index:
        String) {\n  monster(index: $index) {\n    index\n    name\n    size\n    armor_class
        {\n      value\n    }\n    speed {\n      walk\n      fly\n      swim\n    }\n    hit_points\n    strength\n    dexterity\n    constitution\n    intelligence\n    wisdom\n    charisma\n    damage_vulnerabilities\n    damage_resistances\n    damage_immunities\n    proficiency_bonus\n    proficiencies
        {\n      proficiency {\n        name\n      }\n      value\n    }\n    senses
        {\n      blindsight\n      darkvision\n      passive_perception\n    }\n    special_abilities
        {\n      name\n      desc\n    }\n    actions {\n      name\n      desc\n    }\n    legendary_actions
        {\n      name\n      desc\n    }\n    condition_immunities {\n      name\n    }\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_72320","variables":{"index":"aboleth"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1707260875'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d19-nVNcoCXicw27QyvRt8i+vuNFwnA"
    body:
      encoding: UTF-8
      string: '{"data":{"monster":{"index":"aboleth","name":"Aboleth","size":"LARGE","armor_class":[{"value":17}],"speed":{"walk":"10
        ft.","fly":null,"swim":"40 ft."},"hit_points":135,"strength":21,"dexterity":9,"constitution":15,"intelligence":18,"wisdom":15,"charisma":18,"damage_vulnerabilities":[],"damage_resistances":[],"damage_immunities":[],"proficiency_bonus":4,"proficiencies":[{"proficiency":{"name":"Saving
        Throw: CON"},"value":6},{"proficiency":{"name":"Saving Throw: INT"},"value":8},{"proficiency":{"name":"Saving
        Throw: WIS"},"value":6},{"proficiency":{"name":"Skill: History"},"value":12},{"proficiency":{"name":"Skill:
        Perception"},"value":10}],"senses":{"blindsight":null,"darkvision":"120 ft.","passive_perception":20},"special_abilities":[{"name":"Amphibious","desc":"The
        aboleth can breathe air and water."},{"name":"Mucous Cloud","desc":"While
        underwater, the aboleth is surrounded by transformative mucus. A creature
        that touches the aboleth or that hits it with a melee attack while within
        5 ft. of it must make a DC 14 Constitution saving throw. On a failure, the
        creature is diseased for 1d4 hours. The diseased creature can breathe only
        underwater."},{"name":"Probing Telepathy","desc":"If a creature communicates
        telepathically with the aboleth, the aboleth learns the creature''s greatest
        desires if the aboleth can see the creature."}],"actions":[{"name":"Multiattack","desc":"The
        aboleth makes three tentacle attacks."},{"name":"Tentacle","desc":"Melee Weapon
        Attack: +9 to hit, reach 10 ft., one target. Hit: 12 (2d6 + 5) bludgeoning
        damage. If the target is a creature, it must succeed on a DC 14 Constitution
        saving throw or become diseased. The disease has no effect for 1 minute and
        can be removed by any magic that cures disease. After 1 minute, the diseased
        creature''s skin becomes translucent and slimy, the creature can''t regain
        hit points unless it is underwater, and the disease can be removed only by
        heal[...]
