---
http_interactions:
- request:
    method: post
    uri: https://www.dnd5eapi.co/graphql
    body:
      encoding: UTF-8
      string: '{"query":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '1706919080'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"94-npaMbIB5erTaplHAdDd5m/mgtR8"
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"GraphQL operations must contain a non-empty
        `query` or a `persistedQuery` extension.","extensions":{"code":"BAD_REQUEST"}}]}

        '
  recorded_at: Sat, 03 Feb 2024 00:11:19 GMT
recorded_with: VCR 6.2.0
